*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-header{
    background-color: black;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.top-header li a{
    position: relative;
    color: white;
    text-decoration: none;
}